// media queries
@media screen and (max-width:1366px) {
    .header {

        .logo {
            font-size: 22px;
            line-height: 30px;
        }

        .icons a,
        .icons div {
            font-size: 22px;
            line-height: 30px;
            margin-left: 17px;
        }

        .search-form {
            height: 45px;
        }
    }

    .quick-link {

        .logo {
            font-size: 22px;
            line-height: 30px;
        }
    }

    .side-bar {

        #close-side-bar {
            font-size: 25px;
            line-height: 35px;
        }
    }
}

@media screen and (max-width:1199px) {
    .header {

        .logo {
            font-size: 20px;
            line-height: 28px;
        }

        .icons a,
        .icons div {
            font-size: 20px;
            line-height: 28px;
            margin-left: 17px;
        }

        .search-form {
            height: 45px;
            width: 450px;
        }
    }

    .quick-link {

        .logo {
            font-size: 20px;
            line-height: 28px;
        }
    }

    .side-bar {

        #close-side-bar {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .home {
        
        .slide {
            text-align: center;
        }
    }
}

@media screen and (max-width:991px) {

    .header {
    
        .search-form {
            left: 0;
            top: 99%;
            right: 0;
            width: 100%;
            height: 60px;
            border-radius: 0;
            position: absolute;
            box-shadow: var(--box-shadow);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
            }
        }
    
        #search-btn {
            display: inline-block;
        }
    }

    .home {

        .slide {

            .content {

                span {
                    font-size: 14px;
                    line-height: 23px;
                }
                h3 {
                    font-size: 23px;
                    line-height: 32px;
                }
                .btn {
                    font-size: 15px;
                    line-height: 25px;
                }
            }
        }
    }

    .quick-link {
        flex-flow: column;

        .links {
            // padding: 10px 0;

            ul {

                li {
                    display: block;
                    margin-bottom: 10px;

                    a {
                        font-size: 17px;
                        line-height: 25px;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .footer {
        
        .credit {
            flex-flow: column;
        }
    }
}

@media screen and (max-width:767px) {
    .home {

        .home-slider {

            .swiper-button-next,
            .swiper-button-prev {
                display: none;
            }
        }
    }

    .home {

        .slide {

            .content {

                span {
                    font-size: 13px;
                    line-height: 21px;
                }
                h3 {
                    font-size: 21px;
                    line-height: 30px;
                }
                .btn {
                    font-size: 14px;
                    line-height: 23px;
                }
            }
        }
    }
}

@media screen and (max-width:575px) {

    .home {

        .slide {

            .content {

                span {
                    font-size: 12px;
                    line-height: 18px;
                }
                h3 {
                    font-size: 20px;
                    line-height: 28px;
                }
                .btn {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }
    }


    .footer {

        .credit {

            p {
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}

@media screen and (max-width:420px) {
    .side-bar {
        width: 100%;
    }

    .header {

        .logo {
            font-size: 15px;
            line-height: 20px;
        }

        .icons a,
        .icons div {
            font-size: 15px;
            line-height: 20px;
            margin-left: 15px;
        }
    }

    .home {

        .slide {

            .content {

                span {
                    font-size: 11px;
                    line-height: 16px;
                }
                h3 {
                    font-size: 19px;
                    line-height: 26px;
                }
                .btn {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }


    
    .quick-link {

        .logo {
            font-size: 15px;
            line-height: 20px;
        }
    }

    .side-bar {

        #close-side-bar {
            font-size: 15px;
            line-height: 20px;
        }
    }

    .footer {

        .credit {

            p {
                font-size: 10px;
            }
        }
    }
}