@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

html, body, div, span, img, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  background: #FFFFFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 18px/32px "nunito", sans-serif;
}

// h1, .h1 {
//   font-size: 72px;
//   line-height: 80px;
// }

// h2, .h2 {
//   font-size: 60px;
//   line-height: 70px;
// }

// h3, .h3 {
//   font-size: 48px;
//   line-height: 56px;
// }

// h4, .h4 {
//   font-size: 36px;
//   line-height: 42px;
// }

// h5, .h5 {
//   font-size: 30px;
//   line-height: 36px;
// }

// h6, .h6 {
//   font-size: 24px;
//   line-height: 32px;
// }
// h6.fz-sm, .h6.fz-sm {
//   font-size: 18px;
//   line-height: 26px;
// }

// h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6 {
//   color: #1C45A8;
//   font-weight: 900;
//   font-family: "brandon-grotesque", sans-serif;
// }

a:hover, a:focus, button:hover, button:focus {
  outline: 0;
  text-decoration: none;
}

p {
  margin: 0 0 30px;
}

hr {
  margin: 0;
  padding: 0;
  border-color: #2097EF;
}
hr.two {
  border-width: 2px;
}
hr.blue {
  border-color: #1C45A8;
}
hr.gray {
  border-color: #CFD7DD;
}

section {
  padding: 50px 0;
}

input[type=text]:not(.select2-input),
input[type=number],
input[type=email],
input[type=tel],
input[type=search],
input[type=password],
input[type=file],
select, textarea {
    appearance: none;
    width: 100% !important;
    color: #000000 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    line-height: 26px !important;
    background: #F5F8FA !important;
    border-radius: 500px !important;
    padding: 8px 18px 6px !important;
    border: 1px solid #CFD7DD !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}
input[type=text]:not(.select2-input)::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=email]::-webkit-inner-spin-button,
input[type=tel]::-webkit-inner-spin-button,
input[type=search]::-webkit-inner-spin-button,
input[type=password]::-webkit-inner-spin-button,
input[type=file]::-webkit-inner-spin-button,
select::-webkit-inner-spin-button, textarea::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 8px;
    color: #333;
    text-align: center;
    position: relative;
}
input[type=text]:not(.select2-input)::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=file]::-webkit-input-placeholder,
select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}
input[type=text]:not(.select2-input)::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=file]::-moz-placeholder,
select::-moz-placeholder, textarea::-moz-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}
input[type=text]:not(.select2-input):-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=file]:-ms-input-placeholder,
select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}
input[type=text]:not(.select2-input):-moz-placeholder,
input[type=number]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=file]:-moz-placeholder,
select:-moz-placeholder, textarea:-moz-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}
input[type=text]:not(.select2-input):hover, input[type=text]:not(.select2-input):focus,
input[type=number]:hover,
input[type=number]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=tel]:hover,
input[type=tel]:focus,
input[type=search]:hover,
input[type=search]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=file]:hover,
input[type=file]:focus,
select:hover,
select:focus, textarea:hover, textarea:focus {
    outline: 0;
}

.btn {
    border: 0;
    outline: 0;
    color: #FFFFFF;
    font-size: 18px;
    box-shadow: none;
    font-weight: 900;
    line-height: 26px;
    background: #08215D;
    padding: 13px 20px;
    border-radius: 500px;
    transition: all 0.3s ease;
}
.btn.lg {
    font-size: 24px;
    line-height: 34px;
    padding: 13px 24px;
}
.btn.sm {
    font-size: 16px;
    line-height: 24px;
}
.btn.btn-black {
    background: #000000;
}
.btn.btn-red {
    background: #EF4136;
}
.btn.btn-blue {
    background: #1C45A8;
}
.btn.btn-primary {
    background: #2097EF;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
    background: #08215D;
}
.btn:hover, .btn:focus, .btn:active {
    outline: 0;
    color: #FFFFFF;
    box-shadow: none;
    background: #2097EF;
}

.entry-title .sub-title {
  display: block;
}
.entry-title .sub-title.gray {
  color: #CFD7DD;
}
.entry-title .sub-title.red {
  color: #EF4136;
}
.entry-title .title {
  margin: 0;
}
.entry-title .title.white {
  color: #FFFFFF;
}
.entry-title .title.base {
  color: #08215D;
}
.entry-title .title.blue {
  color: #1C45A8;
}
.entry-title .title.primary {
  color: #2097EF;
}
.entry-title p {
  margin: 0;
  color: #08215D;
}
.entry-title.white-desc p {
  color: #FFFFFF;
}
.entry-title .black-desc p {
  color: #000000;
}
.font-family-bg {
  font-family: "brandon-grotesque", sans-serif;
}

.container {
  width: 100%;
  max-width: 1210px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;
    transition: all .3s linear;
    font-family: 'Poppins', sans-serif;
}

:root {
    --gold: gold;
    --black: #333;
    --white: #fff;
    --blue: #0984e3;
    --light-bg: #eee;
    --light-color: #666;
    --border: 2px solid black;
    --box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

@mixin grid($val) {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($svl, 1fr));
}

@keyframes fadeIn {
    0% {
        transform: scale(.5);
        opacity: 0;
    }
}

html {
    // font-size: 62.5%;
    overflow-x: hidden;
    
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: var(--light-bg);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--blue);
    }
}

section {
    padding: 10px 9%;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    line-height: 28px;
    padding: 8px 30px;
    border-radius: 5px;
    display: inline-block;
    background: #165381;

    &:hover {
        color: goldenrod;
        background: #0984e3;
    }
}

.heading {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;

    span {
        color: #0984e3;
    }
}

/********************************
        HEADER STYLE
*********************************/


.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    padding: 30px 9%;
    position: sticky;
    align-items: center;
    background: var(--blue);
    justify-content: space-between;

    .logo {
        font-size: 25px;
        line-height: 35px;
        color: var(--white);
        font-weight: bolder;

        i {
            color: var(--gold);
        }
    }

    .search-form {
        height: 50px;
        width: 500px;
        display: flex;
        padding: 0 20px;
        background: #fff;
        align-items: center;
        border-radius: 50px;

        input {
            width: 100%;
            font-size: 17px;
            line-height: 23px;
            padding-right: 10px;
            text-decoration: none;
            color: var(--light-color);
        }

        label {
            font-size: 20px;
            line-height: 25px;
            cursor: pointer;
            color: var(--light-color);

            &:hover {
                color: var(--blue);
            }
        }
    }

    .icons a,
    .icons div {
        font-size: 25px;
        line-height: 30px;
        margin-left: 20px;
        color: var(--white);
        cursor: pointer;

        &:hover {
            color: var(--gold);
        }
    }

    #search-btn {
        display: none;
    }
}


// SIDE-BAR

.side-bar {
    position: fixed;
    top: 0;
    left: -110%;
    height: 100%;
    width: 300px;
    z-index: 10000;
    background-color: var(--white);
    
    &.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
    }

    #close-side-bar {
        top: 10px;
        right: 20px;
        cursor: pointer;
        font-size: 30px;
        line-height: 40px;
        position: absolute;
        color: var(--light-color);

        &:hover {
            transform: rotate(90deg);
        }
    }

    .user {
        padding: 20px;
        background: var(--light-bg);
        text-align: center;

        img {
            height: 170px;
            width: 170px;
            border-radius: 50%;
            border: 10px solid #fff;
            box-shadow: var(--box-shadow);
            margin-bottom: 5px;
        }

        h3 {
            padding: 5px 0;
            font-size: 17px;
            line-height: 22px;
            color: var(--light-color);
        }
        a {
            font-size: 15px;
            line-height: 20px;
            color: var(--blue);

            &:hover {
                color: var(--gold);
            }
        }
    }

    .navbar {
        padding: 10px 20px;
        margin-top: 10px;

        ul {
            list-style: none;

            li {

                a {
                    display: block;
                    padding: 10px 0;
                    font-size: 17px;
                    line-height: 25px;
                    color: var(--light-color);
                    border-bottom: 1px solid rgba(0,0,0,.7);

                    &:hover {
                        color: var(--blue);

                        i {
                            padding-right: 20px;
                        }
                    }
                }

                i {
                   padding-right: 5px; 
                }
            }
        }
    }
}

// SIDE-BAR

/********************************
        HOME STYLE
*********************************/

.home {
    background: #fff;
    
    .slide {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 50px 0 50px;

        .image {
            flex: 1 1 420px;
            text-align: center;

            img {
                height: 300px;
            }
        }

        .content {
            flex: 1 1 420px;
            text-align: center;
            text-align: inherit !important;

            span {
                font-size: 15px;
                color: #0984e3;
                line-height: 25px;
                margin-bottom: 5px;
            }

            h3 {
                color: #333;
                font-size: 25px;
                line-height: 35px;
                margin-bottom: 5px;
            }
            .btn {
                color: #fff;
                cursor: pointer;
                font-size: 17px;
                line-height: 28px;
                padding: 8px 30px;
                border-radius: 5px;
                display: inline-block;
                background: #0984e3;
            }
        }
    }
}

.banner {

    .box-container {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

        .box {
            overflow: hidden;
            border-radius: 5px;
            position: relative;
            border: var(--border);
            box-shadow: var(--box-shadow);

            &:hover {

                img {
                    transform: scale(1.1);
                }
            }
            
            .image {

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content {
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translateY(-50%) rotate(45deg);
            }
        }
    }
}


.arrivals {

    .box-container {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        
        .box {
            display: flex;
            border-radius: 5px;
            align-items: center;
            padding: 15px 0 15px;
            border: var(--border);
            background: var(--white);
            transition: all 0.3s ease;
            box-shadow: var(--box-shadow);

            &:hover {
                
                .image {

                    .main-img {
                        display: none;
                    }
                    .hover-img {
                        display: inline-block;
                    }
                }
            }

            .image {
                
                img {
                    height: 150px;
                }
                .hover-img {
                    display: none;
                    animation: fadeIn .2s linear;
                }
            }

            .content {

                h3 {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    color: var(--black);
                }

                .price {
                    padding: 7px 0;
                    font-size: 20px;
                    line-height: 30px;
                    color: var(--blue);

                    span {
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 22px;
                        color: goldenrod;
                        text-decoration: line-through;
                    }
                }

                .stars {

                    i {

                        font-size: 15px;
                        line-height: 20px;
                        color: var(--gold);
                    }
                }
            }
        }
    }
}
/********************************
        ABOUT STYLE
*********************************/

.about {
    background: #eee;

    .box-container {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 40px 0 40px;

        .image {
            flex: 1 1 420px;

            a {

                img {
                    width: 100%;
                }
            }
        }

        .content {
            flex: 1 1 420px;
            padding: 30px;
            background: var(--white);

            h3 {
                font-size: 25px;
                font-weight: 600;
                line-height: 35px;
                color: var(--black);
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            p {
                padding: 10px 0;
                font-size: 14px;
                font-weight: 300;
                line-height: 25px;
            }
            .btn {
                margin-top: 10px;
            }
        }
    }
}

/********************************
        FAQ STYLE
*********************************/

.faq {
    background: #eee;

    .accordion-container {
        max-width: 700px;
        margin: 0 auto;
        padding: 40px 0 40px;

        .accordion {
            margin-bottom: 15px;
            box-shadow: var(--box-shadow);
            background-color: var(--white);

            &:last-child {
                margin-bottom: 5px;
            }

            // ACTIVE CLICK EVENT

            &.active {

                .accordion-heading {
                    background: #0984e3;

                    h3 {
                        color: #fff;
                    }

                    i {
                        color: #fff;
                        transform: rotate(180deg);
                    }
                }
                .accordioin-content {
                    display: block;
                }
            }

            // ACTIVE CLICK EVENT

            .accordion-heading {
                gap: 10px;
                padding: 15px;
                display: flex;
                cursor: pointer;
                align-items: center;
                background: var(--black);
                justify-content: space-between;

                h3 {
                    color: #0984e3;
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 25px;
                }

                i {
                    color: #0984e3;
                    font-size: 20px;
                    line-height: 30px;

                    &:hover {
                        transform: translateY(5px);
                    }
                }
            }
        }
        .accordioin-content {
            padding: 10px;
            display: none;
            font-size: 15px;
            font-weight: 300;
            line-height: 25px;
            color: var(--light-color);
            text-transform: capitalize;
            animation: fadeIn .2s linear;
        }
    }
}
/********************************
        REVIEW STYLE
*********************************/

.review {
    background: #eee;
    .box-container {
        padding: 40px 0 40px;

        .slide {
            width: 350px;
            padding: 30px;
            text-align: center;
            border: var(--border);
            box-shadow: var(--box-shadow);
            background: white;
    
            img {
                width: 100%;
                height: 100%;
                border-radius: 500px;
                margin-bottom: 50px;
            }
    
            h3 {
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                color: var(--black);
                margin-bottom: 10px;
            }
    
            span {
                font-size: 15px;
                font-weight: 400;
                line-height: 25px;
                color: var(--blue);
            }
    
            p {
                font-size: 13px;
                color: #165381;
                font-weight: 300;
                margin-top: 10px;
                line-height: 25px;
            }
        }
    }
}

/********************************
        PRODACT CATEGORY STYLE
*********************************/

.category {
    background: #eee;


    .box-container {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));

        .box {
            text-align: center;
            border-radius: 5px;
            border: var(--border);
            padding: 20px;
            background: #fff;
            box-shadow: var(--box-shadow);

            &:hover {
                background: var(--black);

                h3 {
                    color: #fff;
                }
            }

            img {
                height: 80px;
                margin-bottom: 5px;
            }

            h3 {
                font-size: 13px;
                font-weight: 500;
                line-height: 25px;
                color: var(--black);
            }
        }
    }
}
/********************************
        PRODACT STYLE
*********************************/

.products {
    background: #eee;


    .box-container {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

        .box {
            text-align: center;
            background: #fff;
            border-radius: 5px;
            border: var(--black);
            box-shadow: var(--box-shadow);
            overflow: hidden;

            &:hover {

                .image {

                    .hover-img {
                        display: inline-block;
                    }

                    .main-img {
                        display: none;
                    }

                    .icons {
                        left: 10px;
                    }
                }
            }

            .image {
                position: relative;

                img {
                    height: 300px;
                    animation: fadeIn .2s linear;
                }


                .hover-img {
                    display: none;
                }

                .icons {
                    position: absolute;
                    top: 20px;
                    left: -70px;

                    a {
                        display: block;
                        margin-bottom: 10px;
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        font-size: 17px;
                        border-radius: 500px;
                        color: #0984e3;
                        background: var(--black);

                        &:hover {
                            color: #fff;
                            background: var(--blue);
                            transform: rotate(350deg);
                        }
                    }
                }
            }

            .content {
                padding: 20px;
                background: var(--light-bg);

                h3 {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 500;
                    color: var(--black);
                    margin-bottom: 10px;
                }

                .price {
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 32px;
                    color: var(--black);
                    margin-bottom: 10px;

                    span {
                        color: #ff0000;
                        font-weight: 300;
                        text-decoration: line-through;
                    }
                }

                .stars {

                    i {
                        color: #ffd700;
                        font-size: 17px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
/********************************
        PRODACT BANNER STYLE
*********************************/

.product-banner {

    .box-container {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;

        .box {
            flex: 1 1 420px;
            position: relative;
            box-shadow: var(--box-shadow);
            border-radius: 5px;
            border: var(--border);
            overflow: hidden;
            height: 300px;

            &:hover {

                img {
                    transform: scale(1.1);
                }
            }

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .content {
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translatey(-50%);

                span {
                    font-size: 17px;
                    margin-top: 5px;
                    font-weight: 500;
                    color: #0984e3;
                    line-height: 25px;
                }

                h3 {
                    color: #333;
                    font-size: 20px;
                    padding-top: 5px;
                    font-weight: 600;
                    line-height: 30px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
/********************************
        CONTACT INFO STYLE
*********************************/

.contact {
    background: #eee;

    .box-container {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

        .box {
            padding: 20px;
            text-align: center;
            border-radius: 5px;
            background: #fff;
            box-shadow: var(--box-shadow);

            i {
                width: 75px;
                height: 75px;
                color: #fff;
                font-size: 25px;
                line-height: 75px;
                margin-bottom: 5px;
                border-radius: 500px;
                background: #0984e3;
                transition: all .3s ease;

                &:hover {
                    color: #ffff00;
                    transform: rotate(360deg);
                }

            }

            h3 {
                color: #333;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                margin-bottom: 5px;
            }

            .title {
                font-size: 20px;
                font-weight: 600;
                color: #0984e3;
                line-height: 20px;
                
                strong {
                    color: #ff0000;
                }
            }

            p {
                margin: 8px;
                font-size: 15px;
                font-weight: 300;
                line-height: 20px;
                text-transform: lowercase;

                span {
                    color: #ffd700;
                    font-weight: 600;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                strong {
                    color: #ff00f2;
                }
            }
        }
    }
}

/********************************
        CONTACT FROM STYLE
*********************************/

.contact-from {
    background: #eee;

   .box-container {
       gap: 20px;
       display: flex;
       flex-wrap: wrap;
       padding: 50px 0 50px;

        form {
            flex: 1 1 420px;
            background: #0984e3;
            padding: 30px 50px 30px;

            h3 {
                color: #fff;
                font-size: 30px;
                font-weight: 600;
                line-height: 45px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            p {
                color: #fff;
                padding: 10px 0;
                font-size: 15px;
                font-weight: 400;
                line-height: 25px;
                margin-bottom: 10px;
                text-transform: capitalize;
            }

            .inputBox {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                input {
                    width: 49%;
                }
            }

            .inputBox ,input,textarea {
                padding: 12px 14px;
                border-radius: 5px;
                box-shadow: var(--box-shadow);
                background: #fff;
                text-transform: none;
                color: var(--light-color);
                font-size: 17px;
                line-height: 25px;
                margin: 7px 0;
            }

            textarea {
                height: 150px;
                resize: none;
                width: 100%;
            }

            .btn {
                
                &:hover {
                    color: #fff;
                    background: #666;
                }
            }
        }

        .map {
            flex: 1 1 420px;
            width: 100%;
        }
    }
}

/********************************
        NEWS LETTER STYLE
*********************************/

.newsletter {
    background: #0984e3;

    .box-container {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 50px 0 50px;
        
        .content {
            flex: 1 1 420px;
            
            h3 {
                color: #fff;
                font-size: 60px;
                font-weight: 600;
                line-height: 80px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            
            p {
                color: #fff;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
            }
        }
        
        form {
            padding: 5px;
            display: flex;
            flex: 1 1 420px;
            background: #fff;
            border-radius: 5px;
            
            .email {
                width: 100%;
                padding: 0 14px;
                font-size: 15px;
                line-height: 25px;
                text-transform: none;
                color: var(--light-color);
            }
            
            .btn {
                margin-top: 0;
            }
        }
    }
}

/********************************
        LOGIN FORM STYLE
*********************************/

.login {

    form {
        width: 650px;
        border-radius: 5px;
        padding: 30px 30px;
        background: #fff;
        margin: 10px auto;
        box-shadow: var(--box-shadow);

        h3 {
            font-size: 25px;
            line-height: 35px;
            padding-bottom: 10px;
            color: #333;
            text-align: center;
        }

        .box {
            width: 100%;
            margin: 7px 0;
            font-size: 15px;
            color: #0984e3;
            line-height: 20px;
            padding: 12px 14px;
            border-radius: 5px;
            text-transform: none;
            box-shadow: var(--box-shadow);
        }

        .remember {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px 0;

            label {
                font-size: 15px;
                line-height: 22px;
                color: var(--light-color);
                cursor: pointer;
            }
        }

        .btn {
            width: 100%;
            text-align: center;

            &.link {
                background: var(--black);

                &:hover {
                    color: #fff;
                    background: #0984e3;
                }
            }
        }

        p {
            color: #666;
            font-size: 15px;
            padding-top: 20px;
            line-height: 22px;
            padding-bottom: 20px;
        }
    }
}

/********************************
        REGESTAR FORM STYLE
*********************************/
.register {

    form {
        width: 550px;
        margin: 10px auto;
        border-radius: 5px;
        padding: 30px 30px;
        background: #fff;
        box-shadow: var(--box-shadow);

        h3 {
            font-size: 25px;
            line-height: 35px;
            padding-bottom: 10px;
            color: #333;
        }

        .box {
            width: 100%;
            margin: 7px 0;
            font-size: 15px;
            line-height: 20px;
            padding: 12px 14px;
            border-radius: 5px;
            text-transform: none;
            color: var(--light-bg);
            box-shadow: var(--box-shadow);
        }

        .remember {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px 0;

            label {
                font-size: 15px;
                line-height: 22px;
                color: var(--light-color);
                cursor: pointer;
            }
        }

        .btn {
            width: 100%;
            text-align: center;

            &.link {
                background: var(--black);

                &:hover {
                    color: #fff;
                    background: #0984e3;
                }
            }
        }

        p {
            color: #666;
            font-size: 15px;
            padding-top: 20px;
            line-height: 22px;
            padding-bottom: 20px;
        }
    }
}

/********************************
        CART STYLE
*********************************/

.shopping-cart {
    background: #eee;

    .box-container {
        gap: 20px;
        display: grid;
        padding: 50px 0 50px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

        .box {
            gap: 5px;
            padding: 20px;
            display: flex;
            background: #fff;
            border-radius: 5px;
            position: relative;
            align-items: center;
            border: var(--border);

            &:last-child {
                margin-bottom: 0;
            }

            .fa-times {
                top: 10px;
                right: 15px;
                font-size: 20px;
                cursor: pointer;
                line-height: 30px;
                position: absolute;
                color: var(--light-color);

                &:hover {
                    color: #333;
                    transform: rotate(90deg);
                }
            }

            img {
                height: 120px;
            }

            .content {

                h3 {
                    color: #333;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                }

                form {
                    gap: 5px;
                    display: flex;
                    padding: 10px 0;
                    align-items: center;

                    span {
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 600;
                        color: #165381;
                    }

                    input {
                        width: 70px;
                        padding: 5px 15px;
                        color: #fff;
                        border-radius: 5px;
                        background: #666;
                        font-size: 15px;
                    }
                }

                .price {
                    font-size: 20px;
                    line-height: 30px;
                    color: #0984e3;

                    span {
                        font-size: 15px;
                        line-height: 22px;
                        color: #d15f5f;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
    .cart-total {
        padding: 20px;
        margin-top: 20px;
        padding-top: 10px;
        border-radius: 5px;
        text-align: center;
        background: #fff;;
        box-shadow: var(--box-shadow);

        h3 {
            color: #333;
            font-size: 20px;
            line-height: 30px;
            padding-top: 10px;

            span {
                color: #0984e3;
            }
        }

        .btn {
            margin-top: 20px;
            font-size: 15px;
            line-height: 25px;
            padding: 8px 15px;
        }
    }
}

/********************************
        FOOTER STYLE
*********************************/
// FOOTER 

.quick-link {
    gap: 20px;
    display: flex;
    align-items: center;
    background: var(--black);
    justify-content: space-between;

    .logo {
        font-size: 25px;
        color: var(--white);
        font-weight: bolder;

        i {
            color: var(--gold);
        }
    }

    .links, .share {

        ul {
            list-style: none;

            li {
                display: inline-block;

                a {
                    color: var(--white);
                    margin: 0 10px;
                    font-size: 15px;
                    line-height: 22px;
                    text-transform: capitalize;

                    &:hover {
                        color: var(--gold);
                    }
                }
            }
        }
    }
}
// FOOTER STYLE

.footer {
    padding: 10px 9%;

    .credit {
        gap: 20px;
        display: flex;
        align-items: center;
        background: var(--white);
        justify-content: space-between;

        p {
            font-size: 16px;
            line-height: 30px;
            color: var(--light-color);

            a {
                color: gold;
                text-transform: capitalize;

                &:hover {
                    color: blue;
                    text-decoration: underline;
                }
            }
        }

        .logo {
            filter: drop-shadow(0 0 1px black);
            a {

                img {
                    height: 40px;
                }
            }
        }
    }
}