@media screen and (max-width: 1366px) {
  .header .logo {
    font-size: 22px;
    line-height: 30px;
  }
  .header .icons a,
.header .icons div {
    font-size: 22px;
    line-height: 30px;
    margin-left: 17px;
  }
  .header .search-form {
    height: 45px;
  }

  .quick-link .logo {
    font-size: 22px;
    line-height: 30px;
  }

  .side-bar #close-side-bar {
    font-size: 25px;
    line-height: 35px;
  }
}
@media screen and (max-width: 1199px) {
  .header .logo {
    font-size: 20px;
    line-height: 28px;
  }
  .header .icons a,
.header .icons div {
    font-size: 20px;
    line-height: 28px;
    margin-left: 17px;
  }
  .header .search-form {
    height: 45px;
    width: 450px;
  }

  .quick-link .logo {
    font-size: 20px;
    line-height: 28px;
  }

  .side-bar #close-side-bar {
    font-size: 20px;
    line-height: 30px;
  }

  .home .slide {
    text-align: center;
  }

  .contact-from .box-container form .inputBox input {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .heading {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .header .search-form {
    left: 0;
    top: 99%;
    right: 0;
    width: 100%;
    height: 60px;
    border-radius: 0;
    position: absolute;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .search-form.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header #search-btn {
    display: inline-block;
  }

  .home .slide .content span {
    font-size: 14px;
    line-height: 23px;
  }
  .home .slide .content h3 {
    font-size: 23px;
    line-height: 32px;
  }
  .home .slide .content .btn {
    font-size: 15px;
    line-height: 25px;
  }

  .login form {
    width: 100%;
  }

  .quick-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .quick-link .links ul li {
    display: block;
    margin-bottom: 10px;
  }
  .quick-link .links ul li a {
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
  }

  .footer .credit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
@media screen and (max-width: 767px) {
  .heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .home .home-slider .swiper-button-next,
.home .home-slider .swiper-button-prev {
    display: none;
  }

  .home .slide .content span {
    font-size: 13px;
    line-height: 21px;
  }
  .home .slide .content h3 {
    font-size: 21px;
    line-height: 30px;
  }
  .home .slide .content .btn {
    font-size: 14px;
    line-height: 23px;
  }

  .newsletter .box-container .content h3 {
    font-size: 55px;
    line-height: 70px;
  }

  .register form {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .heading {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  /********************************
      HOME STYLE
  *********************************/
  .home .slide .content span {
    font-size: 12px;
    line-height: 18px;
  }
  .home .slide .content h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .home .slide .content .btn {
    font-size: 13px;
    line-height: 20px;
  }

  .arrivals .box-container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  .arrivals .box-container .box {
    display: block;
    text-align: center;
  }
  .arrivals .box-container .box .image img {
    width: 100%;
    height: 100%;
  }

  .products .box-container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .contact .box-container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  /********************************
      ABOUT STYLE
  *********************************/
  .about .heading {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 0px;
  }
  .about .box-container .content p {
    font-size: 11px;
    line-height: 18px;
  }

  .newsletter .box-container .content h3 {
    font-size: 50px;
    line-height: 65px;
  }

  .shopping-cart .box-container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .contact-from .box-container form {
    padding: 10px 20px 10px;
  }

  .faq .accordion-container .accordioin-content {
    font-size: 14px;
    line-height: 22px;
  }
  .faq .accordion-container .accordion .accordion-heading h3 {
    font-size: 14px;
    line-height: 20px;
  }
  .faq .accordion-container .accordion .accordion-heading i {
    font-size: 17px;
    line-height: 20px;
  }

  .footer .credit p {
    font-size: 14px;
    line-height: 25px;
  }
}
@media screen and (max-width: 420px) {
  .heading {
    margin-bottom: 5;
  }

  .side-bar {
    width: 100%;
  }

  .header .logo {
    font-size: 15px;
    line-height: 20px;
  }
  .header .icons a,
.header .icons div {
    font-size: 15px;
    line-height: 20px;
    margin-left: 15px;
  }

  /********************************
      HOME STYLE
  *********************************/
  .home .slide .content span {
    font-size: 11px;
    line-height: 16px;
  }
  .home .slide .content h3 {
    font-size: 19px;
    line-height: 26px;
  }
  .home .slide .content .btn {
    font-size: 12px;
    line-height: 18px;
  }

  /********************************
      ABOUT STYLE
  *********************************/
  .faq .accordion-container .accordioin-content {
    font-size: 12px;
    line-height: 20px;
  }
  .faq .accordion-container .accordion .accordion-heading h3 {
    font-size: 12px;
    line-height: 16px;
  }
  .faq .accordion-container .accordion .accordion-heading i {
    font-size: 15px;
    line-height: 18px;
  }

  .newsletter .box-container .content h3 {
    font-size: 45px;
    line-height: 60px;
  }

  .shopping-cart .box-container .box .content h3 {
    font-size: 13px;
    line-height: 17px;
  }
  .shopping-cart .box-container .box .content form span {
    font-size: 12px;
    line-height: 15px;
  }
  .shopping-cart .box-container .box .content form input {
    width: 40px;
    font-size: 10px;
    padding: 3px 8px;
  }
  .shopping-cart .box-container .box .content .price {
    font-size: 14px;
    line-height: 20px;
  }
  .shopping-cart .box-container .box .content .price span {
    font-size: 11px;
    line-height: 15px;
  }

  .quick-link .logo {
    font-size: 15px;
    line-height: 20px;
  }

  .side-bar #close-side-bar {
    font-size: 15px;
    line-height: 20px;
  }

  .footer .credit p {
    font-size: 10px;
  }
}
@media screen and (max-width: 320px) {
  .newsletter .box-container .content h3 {
    font-size: 40px;
    line-height: 55px;
  }
}